<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:widget="http://www.netvibes.com/ns/">

<head>
	<title>Custom Widgets Template</title>

	<meta name="author" content="Hermes Reply" />
	<meta name="description" content="Custom Widgets Template"/>
	<meta name="apiVersion" content="1" />
		
	<script type="text/javascript" src="https://uwa.netvibes.com/lib/c/UWA/js/UWA_Standalone_Alone.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="scripts/main.js"></script>
	<script type="text/javascript">
		function widgetLoading() {
			if (widget) executeWidgetCode();
			else setTimeout(widgetLoading, 100);
		}
		widgetLoading();
	</script>

	<!-- Application Preferences -->
	<widget:preferences>
		<widget:preference type="hidden" name="apiUrl" label="API Url" defaultValue="http://localhost:3000/" />
		<widget:preference type="text" name="integrity" label="Integrity Token" defaultValue="" />
	</widget:preferences>

	<link rel="stylesheet" href="styles/bootstrap.min.css" />
	<link rel="stylesheet" href="styles/common.css" />

</head>
<body class="d-flex flex-column h-100">
	<div id="app">
		<div class="container-fluid" >
			<nav class="navbar fixed-top navbar-light bg-light">
				<div class="container-fluid" id="navbar">
				  <button class="btn btn-primary" type="button" disabled id="generateEIN"><b>GENERATE EIN</b></button>
				</div>	
			</nav>
			<div v-if="!displayData" class="row dragEligible" id="space" style="margin-top:50px; margin-bottom:25px; 
			display: flex; width: 100vw; height: 80vh;">
			<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;
			border: dashed #2B3669; color: #2B3669;
			font-size: 14px;" id="drop">
			<div>Drop here object to code </div>
			<div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
				<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
				<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
			  </svg></div>
			</div>
			</div>

			<my-component v-if="displayData"></my-component>
		</div>
	</div>
</body>
</html>




