<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:widget="http://www.netvibes.com/ns/">

<head>
	<title>Custom Widgets Template</title>

	<meta name="author" content="Hermes Reply" />
	<meta name="description" content="Custom Widgets Template"/>
	<meta name="apiVersion" content="1" />
		
	<script type="text/javascript" src="https://uwa.netvibes.com/lib/c/UWA/js/UWA_Standalone_Alone.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="scripts/main.js"></script>
	<script type="text/javascript">
		function widgetLoading() {
			if (widget) executeWidgetCode();
			else setTimeout(widgetLoading, 100);
		}
		widgetLoading();
	</script>

	<!-- Application Preferences -->
	<widget:preferences>
		<widget:preference type="hidden" name="apiUrl" label="API Url" defaultValue="http://localhost:3000/" />
		<widget:preference type="text" name="integrity" label="Integrity Token" defaultValue="" />
	</widget:preferences>

	<link rel="stylesheet" href="styles/bootstrap.min.css" />
	<link rel="stylesheet" href="styles/common.css" />

</head>
<body class="d-flex flex-column h-100">
	<div id="app">
		<div class="container-fluid" >
			<nav class="navbar fixed-top navbar-light bg-light">
				<div class="container-fluid" id="navbar">
				  <button class="btn btn-primary" type="button" disabled id="generateEIN"><b>GENERATE EIN</b></button>
				</div>	
			</nav>
			<div class="row dragEligible" id="space" style="margin-top:50px; margin-bottom:25px; 
			display: flex; width: 100vw; height: 80vh;">
				<my-component></my-component>
			</div>
		</div>
	</div>
</body>
</html>




